<section>
  <div class="login-card">
    <h6 class="form-heading"> Acesse Sua Conta</h6>
    <form role="form"   #f="ngForm" novalidate     >
      <div class="form-group"    >
        <input type="email" class="form-control" [(ngModel)]="model.username"
        aria-describedby="emailHelp" 
        placeholder="Informe sua E-mail">
       
    
        <!-- id="exampleInputEmail1"                    -->
       
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group"    >
        <input type="password" class="form-control"
        [(ngModel)]="model.password"   placeholder="Informe sua Senha">
        <!-- id="exampleInputPassword1" -->
     
     
      </div>
      <button type="submit"  (click)="onLogin()" class="btn btn-success w-100">Acesse</button>
    </form>
  </div>
</section>