<section id="metrics">
  <!-- header start -->
  <div class="header">
    <div>
      <a href="#" class="text-primary p-1 cursor_pointer">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="search">
      <form>
        <div class="form-group ">
          <input type="email" class="form-control " placeholder="Search by buyr etc">
        </div>
      </form>
    </div>
    <div class="profilePic">
      <div class="profile_img  dropdown-toggle"  data-toggle="dropdown">
        <img src="../../../assets/default.png" alt="img">
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Option 1</a>
            <a class="dropdown-item" href="#">Option 2</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
      </div>
    </div>
  </div>
  <!-- header end -->
  <!-- dashboard Start -->
  <div class="dashboard p-2">
    <div class="heading_and_date m-0">
      <div>
        <h2 class="dashboard_name">Dashboard</h2>
      </div>
      <div class=" p-1">
        <span class="btn btn-primary btn-file">
          <i class="far fa-calendar-alt"></i>
          Today
          <!-- <input type="text" class="w-80" id="datepicker"> -->
        </span>
      </div>
    </div>
    <div class="dashboard_tabs">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#subscriptions">Subscriptions </a>
        </li>
      </ul>
      <!-- Tab panes start-->
      <div class="tab-content">
        <!-- Products start -->
        <div id="products" class="container tab-pane active p-0"><br>
          <!--  upper boxes start-->
          <div class="box-wraper">
            <!--  -->
            <div class="box-one">
              <label class="w-100">
                Revenue
                <span class="float-right"><i class="far fa-dot-circle"></i>
                </span>
              </label>
              <h4>
                <b>
                  <i class="fas fa-dollar-sign" aria-hidden="true"></i>1,012
                </b>
              </h4>
              <p class="text-success m-0">
                <i class="fa fa-arrow-up mr-1" aria-hidden="true"></i>15%
              </p>
            </div>
            <!--  -->
            <div class="box-one">
              <label class="w-100">
                Orders
                <span class="float-right"><i class="far fa-dot-circle"></i>
                </span>
              </label>
              <h4>
                <b>
                  10
                </b>
              </h4>
              <p class="text-success m-0">
                <i class="fa fa-arrow-up mr-1" aria-hidden="true"></i>19%
              </p>
            </div>
            <!--  -->
            <div class="box-one">
              <label class="w-100">
                AOV
                <span class="float-right"><i class="far fa-dot-circle"></i>
                </span>
              </label>
              <h4>
                <b>
                  <i class="fas fa-dollar-sign" aria-hidden="true"></i>103
                </b>
              </h4>
              <p class="text-success m-0">
                <i class="fa fa-arrow-up mr-1" aria-hidden="true"></i>5%
              </p>
            </div>
            <!--  -->
            <div class="box-one">
              <label class="w-100">
                Refunds
                <span class="float-right"><i class="far fa-dot-circle"></i>
                </span>
              </label>
              <h4>
                <b>
                  0
                </b>
              </h4>
              <p class="text-success m-0">
                <i class="fa fa-arrow-up mr-1" aria-hidden="true"></i>100%
              </p>
            </div>
            <!--  -->
          </div>
          <!-- upper boxes ends -->
          <!-- graph start -->
          <div class="w-100 p-2">
            <div class="graph_div">
              <label>Show Graph here</label>
            </div>
          </div>
          <!-- graph ends -->
          <!-- Response table start -->
          <div class="w-100  response-table">
            <label><b>Last 5 Response </b></label>
            <table class="table ">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Place</th>
                  <th>Employee</th>
                  <th>Outgoing</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>02/15</td>
                  <td>Place name</td>
                  <td>john adward</td>
                  <td><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>02/15</td>
                  <td>Place name</td>
                  <td>john adward</td>
                  <td><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>02/15</td>
                  <td>Place name</td>
                  <td>john adward</td>
                  <td><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>02/15</td>
                  <td>Place name</td>
                  <td>john adward</td>
                  <td><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>02/15</td>
                  <td>Place name</td>
                  <td>john adward</td>
                  <td><i class="fas fa-check text-success"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Response table start -->

        </div>
        <!-- Products end -->
        <div id="subscriptions" class="container tab-pane fade p-0"><br>
          <h3>subscriptions </h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <!-- tab panes end -->

    </div>
  </div>
  <!-- Dashboard End -->
</section>